* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tilt Warp', cursive;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
}


main section {
    height: 30vw;
}

main section:nth-of-type(1) {
    background-color: #F4442E;
}

main section:nth-of-type(2) {
    background-color: #FC9E4F;
}

main section:nth-of-type(3) {
    background-color: #EDD382;
}

footer {
    background-color: #020122;
}

/* LAB 6 - START HERE */


/* Step One - recreate the layout featured in the lab instructions using floats and clear 

        1.) use floats to align the section elements side by side */
main section {
    height: 30vw;
    width: 33.3%;
    float: left;
}


/*2.) use the clear property to fix the footer position */
footer {
    background-color: #020122;
    clear: both;
}


/* 3.) return to the section style rule and set section elements to 33.3% width */
main section {
    height: 30vw;
    width: 33.3%;
    float: left;
}



/* Step Two - move footer outside of the main element and recreate he layout, ensuring that main element has a height */
main {
    height: 100vh;
}

section {
    height: 33.33%;
    width: 100%;
    float: left;
}

footer {
    background-color: #020122;
    clear: both;
}


/*Step Three - with the footer still outside of main, recreate the layout using Flexbox*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
}

section {
    flex: 1;
}

section:nth-of-type(1) {
    background-color: #F4442E;
}

section:nth-of-type(2) {
    background-color: #FC9E4F;
}

section:nth-of-type(3) {
    background-color: #EDD382;
}

footer {
    background-color: #020122;
    color: #fff;
    text-align: center;
    padding: 1em;
}



/* Bonus Challenge #1 Vertically align the text using flexbox - + 1 mark */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

section:nth-of-type(1) {
    background-color: #F4442E;
}

section:nth-of-type(2) {
    background-color: #FC9E4F;
}

section:nth-of-type(3) {
    background-color: #EDD382;
}

footer {
    background-color: #020122;
    color: #fff;
    text-align: center;
    padding: 1em;
}


/* Bonus Challenge #2 - vertically align the text without using flexbox - + 1 mark/ */
main {
    height: 100vh;
}

section {
    display: inline-block;
    vertical-align: middle;
    width: 33.33%;
    height: 100%;
}

section:nth-of-type(1) {
    background-color: #F4442E;
}

section:nth-of-type(2) {
    background-color: #FC9E4F;
}

section:nth-of-type(3) {
    background-color: #EDD382;
}

section:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

section p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

footer {
    background-color: #020122;
    color: #fff;
    text-align: center;
    padding: 1em;
}